/* Color's
    Blue: #2e8fa5
    //Turquoise: #319ab2
    Sandy: #b9b49a
    Light-sandy: #dcd9cc
    Dark gray: #4e4e4e
    

*/

/* Fontface */
@font-face {
    font-family: 'latobold';
    src: url('fonts/lato-bold-webfont.eot');
    src: url('fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-bold-webfont.woff') format('woff'),
         url('fonts/lato-bold-webfont.ttf') format('truetype'),
         url('fonts/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoitalic';
    src: url('fonts/lato-italic-webfont.eot');
    src: url('fonts/lato-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-italic-webfont.woff') format('woff'),
         url('fonts/lato-italic-webfont.ttf') format('truetype'),
         url('fonts/lato-italic-webfont.svg#latoitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url('fonts/lato-regular-webfont.eot');
    src: url('fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-regular-webfont.woff') format('woff'),
         url('fonts/lato-regular-webfont.ttf') format('truetype'),
         url('fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'latoregular', Arial;
    font-size: 16px;;
    color: #4e4e4e;
}

/* helpers */
.clear:after, clear:before {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

hr.small {
    width: 40px;
    margin-left: auto;
    margin-right: auto;
}

hr.blue {
    border-color: #2e8fa5;
}

.imageWrapper img{
    width: 100%;
}

/* Font classes */
.color-sandy, .color-sandy a {
    color: #b9b49a;
}


.color-white, .color-white a {
    color: #fff;
}

.color-gray {
    color: #c0c1c1;
}

.color-blue {
    color: #2e8fa5;
}

.color-sandy a,
.color-white a {
    text-decoration:underline;
}

.color-sandy a:hover,
.color-white a:hover {
    text-decoration:none;
}

h1, h2 {
    font-family: 'latobold';
    font-weight: 100;
}

.text-small {
    font-size: 0.8em;
}

.text-medium {
    font-size: 1.2em;
}

.text-large {
    font-size: 1.5em;
}

/* Navigation */
nav ul, nav li {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

nav ul a {
    display: block;
}

nav.horisontal li {
    float: left;
}

/* Top navigation */
#nav-top {
    float: right;
}

#nav-top a {
    padding: 10px;
    color: #fff;
    font-size: 1.2em;
    font-weight: 100;
    font-family: 'latobold';
    margin-left: 10px;
}

#nav-shortcuts {
    float: right;
    margin-top: 5px;
}

#nav-shortcuts a {
    padding: 10px;
    margin-left: 10px;
    color: #fff;
    font-size: 0.7em;
    text-transform: uppercase;
    font-weight: 100;
    font-family: 'latobold'
}

#nav-footer a {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Sticky nav */
body.sticky {
    
}

#top-wrapper {
    
}

#top-wrapper-sticky {
    background-color: #fff;
    width: 100%;
    max-width: 100%;
    position: fixed;
    z-index: 9999;
    height: 60px;
    top: -61px;
    border-bottom: 1px solid #dddddd;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
}

.top-wrapper-sticky-active {
    -webkit-transform: translateY(61px);
}

#top-wrapper-sticky .toplogo {
    max-width: 75px;
    margin-top: 12px !important;
}

#top-wrapper-sticky #nav-top a,
#top-wrapper-sticky #nav-shortcuts a{
    color: #4e4e4e;
    padding: 5px;
}

#top-wrapper-sticky #nav-top a {
    font-size: 0.8em;
}

#top-wrapper-sticky #nav-shortcuts {
    margin-top: 0;
}

#top-wrapper-sticky #nav-shortcuts a {
    font-size: 0.6em;
}

/* Layout */
.section {
    padding: 100px 0;
}

.section-small-padding {
    padding: 50px 0;
}

.section-top {
    background: url('../test-media/bg1.jpg') top center no-repeat;
    background-attachment:fixed;
    color: #fff;
    min-height: 600px;
    background-size: cover;
    position: relative;
}

.section-white {
    color: #fff;
}

.section-white h1 {
    color: #fff;
}

.section-lightsandy {
    background-color: #dcd9cc;
}

.section-blue {
    background-color: #2e8fa5;
}

.section-downarrow {
    position: absolute;
    background: #2e8fa5;
    height: 10px;
    width: 100%;
    bottom: 0;
}

.section-top-content p {
    font-size: 1.3em;
}

.section-content-center {
    text-align: center;
}

#top .toplogo {
    margin-top: 20px;
    display: block;
}

#footer h5 {
    border-bottom: 1px solid #fff;
    font-size: 0.8em;
    padding-bottom: 18px;
    margin-bottom: 13px;
    font-weight: 100;
    font-family: 'latobold'
}

/* Content specific styles */
.frontpage-statement {
    padding-top: 160px;
}

.frontpage-statement .button {
    margin-top: 80px;
}

.section-frontpage-layer {
    background: rgba(46,143,165,0.2);
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* Layout - paralax */
.section-parralax-stairs {
    background: url('../test-media/parralax_button.jpg') 0 0 no-repeat;
    background-attachment:fixed;
    color: #fff;
    height: 350px;
    background-size: cover;
    position: relative;
    width: 100%;
}

/* Lists */
.listItem {
    padding-top: 30px;
    padding-bottom: 30px;
}

.listItem .header{
    margin: 0 0 25px 0;
    padding: 0;
    font-weight: 100;
    font-family: 'latobold';
}
/* News list */
.newsItem {
    
}

.newsItem .date {
    line-height: 1em;
    margin: 0;
    font-size: 0.7em;
    font-weight: 100;
    font-family: 'latobold';
}

/* Product list */
.productItem {
    
}

.productItem .header {
    margin-bottom: 30px;
}

.productItem .imageWrapper {
    margin-bottom: 60px;
}



#newsletterEmail {
    padding: 25px;
}

#footer {}

/* IE8 fix */
/* The Grid ---------------------- */
.lt-ie9 .row { width: 940px; max-width: 100%; min-width: 768px; margin: 0 auto; }
.lt-ie9 .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.lt-ie9 .row.large-collapse .column, 
.lt-ie9 .row.large-collapse .columns { padding: 0; }
.lt-ie9 .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.lt-ie9 .row .row.large-collapse { margin: 0; }

.lt-ie9 .column, .lt-ie9 .columns { float: left; min-height: 1px; padding: 0 15px; position: relative; }
.lt-ie9 .column.large-centered, .columns.large-centered { float: none; margin: 0 auto; }

.lt-ie9 [class*="column"] + [class*="column"]:last-child { float: right; }
.lt-ie9 [class*="column"] + [class*="column"].end { float: left; }

.lt-ie9 .large-1, 
.lt-ie9 .row .large-1 { width: 8.33333%; }

.lt-ie9 .large-2, 
.lt-ie9 .row .large-2 { width: 16.66667%; }

.lt-ie9 .large-3, 
.lt-ie9 .row .large-3 { width: 25%; }

.lt-ie9 .large-4, 
.lt-ie9 .row .large-4 { width: 33.33333%; }

.lt-ie9 .large-5, 
.lt-ie9 .row .large-5 { width: 41.66667%; }

.lt-ie9 .large-6, 
.lt-ie9 .row .large-6 { width: 50%; }

.lt-ie9 .large-7, 
.lt-ie9 .row .large-7 { width: 58.33333%; }

.lt-ie9 .large-8, 
.lt-ie9 .row .large-8 { width: 66.66667%; }

.lt-ie9 .large-9, 
.lt-ie9 .row .large-9 { width: 75%; }

.lt-ie9 .large-10, 
.lt-ie9 .row .large-10 { width: 83.33333%; }

.lt-ie9 .large-11, 
.lt-ie9 .row .large-11 { width: 91.66667%; }

.lt-ie9 .large-12,
.lt-ie9 .row .large-12 { width: 100%; }

.lt-ie9 .row .large-offset-1 { margin-left: 8.33333%; }
.lt-ie9 .row .large-offset-2 { margin-left: 16.66667%; }
.lt-ie9 .row .large-offset-3 { margin-left: 25%; }
.lt-ie9 .row .large-offset-4 { margin-left: 33.33333%; }
.lt-ie9 .row .large-offset-5 { margin-left: 41.66667%; }
.lt-ie9 .row .large-offset-6 { margin-left: 50%; }
.lt-ie9 .row .large-offset-7 { margin-left: 58.33333%; }
.lt-ie9 .row .large-offset-8 { margin-left: 66.66667%; }
.lt-ie9 .row .large-offset-9 { margin-left: 75%; }
.lt-ie9 .row .large-offset-10 { margin-left: 83.33333%; }

.lt-ie9 .pull-2 { right: 16.66667%; }
.lt-ie9 .pull-3 { right: 25%; }
.lt-ie9 .pull-4 { right: 33.33333%; }
.lt-ie9 .pull-5 { right: 41.66667%; }
.lt-ie9 .pull-6 { right: 50%; }
.lt-ie9 .pull-7 { right: 58.33333%; }
.lt-ie9 .pull-8 { right: 66.66667%; }
.lt-ie9 .pull-9 { right: 75%; }
.lt-ie9 .pull-10 { right: 83.33333%; }

.lt-ie9 .push-2 { left: 16.66667%; }
.lt-ie9 .push-3 { left: 25%; }
.lt-ie9 .push-4 { left: 33.33333%; }
.lt-ie9 .push-5 { left: 41.66667%; }
.lt-ie9 .push-6 { left: 50%; }
.lt-ie9 .push-7 { left: 58.33333%; }
.lt-ie9 .push-8 { left: 66.66667%; }
.lt-ie9 .push-9 { left: 75%; }
.lt-ie9 .push-10 { left: 83.33333%; }

/* Nicolas Gallagher's micro clearfix */
.lt-ie9 .row { *zoom: 1; }
.lt-ie9 .row:before, .row:after { content: " "; display: table; }
.lt-ie9 .row:after { clear: both; }






